<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(电影票)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div class="order">
                <img alt='' class="order__images" src="images/tickets.png">
                <p class="order__title">感谢 <br><span class="order__descript">您已成功预订此电影！</span>
                </p>
            </div>

            <div class="ticket">
                <div class="ticket-position">
                    <div class="ticket__indecator indecator--pre">
                        <div class="indecator-text pre--text">online ticket</div>
                    </div>
                    <div class="ticket__inner">

                        <div class="ticket-secondary">
                            <span class="ticket__item">Ticket number <strong
                                    class="ticket__number" th:text="${order.ticketNum}"></strong></span>
                            <span class="ticket__item ticket__date"
                                  th:text="${#dates.format(order.createTime,'yyyy-mm-dd')}"></span>
                            <span class="ticket__item ticket__time"
                                  th:text="${#dates.format(order.createTime,'hh:mm')}"></span>
                            <span class="ticket__item">Cinema: <span class="ticket__cinema">铜锣湾</span></span>
                            <span class="ticket__item">Hall: <span class="ticket__hall">普通大厅</span></span>
                            <span class="ticket__item ticket__price">price: <strong
                                    class="ticket__cost">$ <span th:text="${order.totalPrice}"></span></strong></span>
                        </div>

                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">Film<br><strong
                                    class="ticket__movie"></strong></span>
                            <span class="ticket__item ticket__item--primery">Sits: <span class="ticket__place"
                                                                                         th:text="${order.seat}"></span></span>
                        </div>


                    </div>
                    <div class="ticket__indecator indecator--post">
                        <div class="indecator-text post--text">online ticket</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.top-scroll').parent().find('.top-scroll').remove();
    });
</script>

</body>
</html>
