<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 利用thymeleaf的fragment机制加载head -->
<!-- 其中head(title)为函数, title为当前页面的的标题 -->
<!-- th:insert为插入 th:replace为替换 -->
<div th:replace="~{/fragment/common-fragment :: head(首页)}"></div>
<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <!-- 推荐 -->
        <div class="movie-best" style="margin-top: 30px">
            <div class="col-sm-10 col-sm-offset-1 movie-best__rating">
                最佳影片
            </div>
            <div class="col-sm-12 change--col">

                <!-- 一项 -->
                <div class="movie-beta__item "
                     th:each="rate,rateScore:${rateList.list}"
                     th:if="${rateList.size le 6}"
                >
                    <!-- 海报 -->
                    <img alt="" height="283" th:src="${rate.poster}" width="190"/>
                    <!-- 评分 -->
                    <span class="best-rate" th:text="${#strings.substring(rate.score,0,3)}">5.0</span>

                    <ul class="movie-beta__info">
                        <li><span class="best-voted" th:text="${rate.name}"></span></li>
                        <li><span class="best-voted" th:text="|${rate.count}人为此影片评分|"></span></li>
                        <li>
                            <p class="movie__time" th:text="${rate.duration}"></p>
                            <p><span th:each="c:${rate.categories}"><a th:text="${c.name}"></a></span></p>
                        </li>
                        <li class="last-block">
                            <a class="slide__link" th:href="'/movies/'+${rate.id}">更多</a>
                        </li>
                    </ul>
                </div>

                <!-- 一项结束 -->

            </div>
        </div>
        <!-- 间隔 -->
        <div class="clearfix"></div>
        <h2 class="page-heading heading--outcontainer" id="target">正在热映</h2>
        <!-- 热映 -->
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left"
                         th:each="movieByStatus:${movieServiceByStatus.list}">
                        <div class="movie__images">
                            <a class="movie-beta__link" th:href="'/movies/'+${movieByStatus.id}">
                                <img alt="" height="296"
                                     th:src="${movieByStatus.poster}" width="212"
                                />
                            </a>
                        </div>

                        <div class="movie__info">
                            <a class="movie__title"
                               th:href="'/movies/'+${movieByStatus.id}"
                               th:text="${movieByStatus.name}"
                            >Gravity <a th:text="|'('${movieByStatus.releaseTime.getYear()}')'|">(2013)</a>
                            </a>

                            <p class="movie__time" th:text="${movieByStatus.duration}">91 min</p>

                            <p class="movie__option">
                                <a href="" th:each="c:${movieByStatus.categories}" th:text="${c.name}">Sci-Fi</a>
                            </p>

                            <div class="movie__rate">
                                <div class="score" th:id="|score${movieByStatus.id}|"></div>
                                <span class="movie__rating"
                                      th:text="${#strings.substring(movieByStatus.score,0,3)}">4.1</span>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="col-sm-4 col-md-3">
                    <div class="sitebar first-banner--left">
                        <div class="banner-wrap first-banner--left">
                            <img alt="banner" src="http://placehold.it/500x500"/>
                        </div>

                        <div class="banner-wrap">
                            <img alt="banner" src="http://placehold.it/500x500"/>
                        </div>

                        <div class="banner-wrap banner-wrap--last">
                            <img alt="banner" src="http://placehold.it/500x500"/>
                        </div>
                    </div>
                </aside>
            </div>
        </div>

        <!-- 资讯 -->
        <div class="col-sm-12">
            <h2 class="page-heading">最新资讯</h2>

            <!-- start -->

            <div class="col-sm-4 similar-wrap col--remove" th:each="news:${newsList.list}">
                <div class="post post--preview post--preview--wide">
                    <div class="post__image">
                        <img alt="" src="http://placehold.it/270x330"/>
                    </div>
                    <p class="post__date" th:text="${#dates.format(news.getCreateTime(),'yyyy-mm-dd')}"></p>
                    <a class="post__title" href="news.html" th:text="${news.getTitle()}"></a>
                    <a class="btn read-more post--btn" href="/newsList">了解更多</a>
                </div>
            </div>

            <!-- end -->

        </div>
    </section>

    <div class="clearfix"></div>

    <!-- footer -->
    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript -->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Home();
    });
</script>
<script th:each="movieScore:${movieServiceByStatus.list}" type="text/javascript">
    "use strict";
    $(document).ready(function () {
        $('#score[[${movieScore.id}]]').raty({
            width: 130,
            score: [[${movieScore.score}]],
            path: '/images/rate/',
            starOff: 'star-off.svg',
            starOn: 'star-on.svg',
            readOnly: true
        })
    });
</script>
</body>
</html>
