<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<div th:replace="~{/fragment/common-fragment :: head(电影列表)}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Search bar -->
    <div class="search-wrapper">
        <div class="container container--add">
            <form class="search" id="search-form" method="post">
                <input class="search__field" name="search" placeholder="Search" type="text"/>
                <select
                        class="search__sort"
                        id="search-sort"
                        name="sorting_item"
                        tabindex="0"
                >
                    <option name="byMovieName" selected="selected" value="1">By movieName</option>
                    <option name="byActor" value="2">By actor</option>
                    <option name="bydirector" value="3">By director</option>
                    <option name="bycategory" value="4">By category</option>
                    <option name="byYear" value="5">By year</option>
                </select>
                <button class="btn btn-md btn--danger search__button" type="submit">
                    search a movie
                </button>
            </form>
        </div>
    </div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">Movies</h2>

            <!-- 筛选框 -->
            <div class="select-area">
                <form class="select" method="get">
                    <select class="select__sort" name="select_item" tabindex="0">
                        <option selected="selected" value="1">London</option>
                        <option value="2">New York</option>
                        <option value="3">Paris</option>
                        <option value="4">Berlin</option>
                        <option value="5">Moscow</option>
                        <option value="3">Minsk</option>
                        <option value="4">Warsawa</option>
                        <option value="5">Kiev</option>
                    </select>
                </form>

                <form class="select select--cinema" method="get">
                    <select class="select__sort" name="select_item" tabindex="0">
                        <option selected="selected" value="1">Cineworld</option>
                        <option value="2">Empire</option>
                        <option value="3">Everyman</option>
                        <option value="4">Odeon</option>
                        <option value="5">Picturehouse</option>
                    </select>
                </form>

                <form class="select select--film-category" method="get">
                    <select class="select__sort" name="select_item" tabindex="0">
                        <option selected="selected" value="2">Children's</option>
                        <option value="3">Comedy</option>
                        <option value="4">Drama</option>
                        <option value="5">Fantasy</option>
                        <option value="6">Horror</option>
                        <option value="7">Thriller</option>
                    </select>
                </form>
            </div>

            <div class="tags-area">
                <div class="tags tags--unmarked">
                    <span class="tags__label">Sorted by:</span>
                    <ul>
                        <li class="item-wrap">
                            <a class="tags__item item-active" data-filter="all" href="#"
                            >all</a
                            >
                        </li>
                        <li class="item-wrap">
                            <a class="tags__item" data-filter="release" href="#"
                            >release date</a
                            >
                        </li>
                        <li class="item-wrap">
                            <a class="tags__item" data-filter="popularity" href="#"
                            >popularity</a
                            >
                        </li>
                        <li class="item-wrap">
                            <a class="tags__item" data-filter="comments" href="#"
                            >comments</a
                            >
                        </li>
                        <li class="item-wrap">
                            <a class="tags__item" data-filter="ending" href="#"
                            >ending soon</a
                            >
                        </li>
                    </ul>
                </div>
            </div>

            <div th:each="movie:${movieList}">

                <div class="movie movie--preview movie--full release">
                    <div class="col-sm-3 col-md-2 col-lg-2">
                        <div class="movie__images">
                            <img alt="" th:src="${movie.getPoster()}"/>
                        </div>
                        <!-- 评论数 -->
                        <div class="movie__feature">
                            <a class="movie__feature-item movie__feature--comment" href="#" th:text="${count}">123</a>
                        </div>
                    </div>

                    <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                        <a class="movie__title link--huge" th:href="'/movies/'+${movie.getId()}"
                           th:text="${movie.getName()}"></a>

                        <p class="movie__time" th:text="${movie.getDuration()}">103min</p>

                        <p class="movie__option">
                            <strong>Country: </strong><a href="#" th:text="${movie.getCountry()}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>Category: </strong><span th:each="c:${movie.getCategories()}">
                            <a href="#" th:text="${c.getName()}"></a></span>
                        </p>
                        <p class="movie__option">
                            <strong>Release date: </strong> <a th:text="${movie.getReleaseTime()}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>Director: </strong><a href="#" th:text="${movie.getDirectors()}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>Actors: </strong><a href="#" th:text="${movie.getActors()}"></a>,
                        </p>


                        <div class="movie__btns">
                            <a class="btn btn-md btn--warning" href="/movies">预订此电影</a>

                            <div th:unless="${session.user == null}">
                                <input hidden id="watchlist-userId" name="userId" th:value="${session.user.getId()}">
                            </div>
                            <input hidden id="watchlistMovieId" name="movieId" th:value="${movie.getId()}">

                            <a class="watchlist" th:onclick="|add(${movie.getId()})|">添加到播放列表</a>
                            <!--th:href="@{/watch(userId=${session.user.getId()},movieId=${movie.getId()})}"-->

                        </div>

                        <div class="preview-footer">
                            <div class="movie__rate">
                                <div class="score"></div>
                                <span class="movie__rate-number">170 个评分</span>
                                <span class="movie__rating">5.0</span>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

            </div>

            <!-- end movie preview item -->

            <div class="coloum-wrapper">
                <div class="pagination paginatioon--full">
                    <a class="pagination__prev" th:href="@{/movies(page=${movieList.pageNum}-1)}">prev</a>
                    <a class="pagination__next" th:href="@{/movies(page=${movieList.pageNum}+1)}">next</a>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:insert="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>
<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MovieList();
    });
</script>
</body>
</html>
