<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(${movie.getName()})}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="movie">
                <h2 class="page-heading" th:text="${movie.getName()}"></h2>

                <div class="movie__info">
                    <div class="col-sm-4 col-md-3 movie-mobile">
                        <div class="movie__images">
                            <span class="movie__rating" th:text="${movie.score}">5.0</span>
                            <img alt="" th:src="${movie.getPoster()}"/>
                        </div>

                        <div class="movie__rate">
                            请输入你的评分:
                            <div class="score" id="scoreMovie">
                                <input hidden id="rate-movie-id" th:value="${movie.id}">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-8 col-md-9">
                        <p class="movie__time" th:text="${movie.getDuration()}"></p>
                        <p class="movie__option">
                            <strong>国家: </strong><a href="" th:text="${movie.getCountry()}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>年份: </strong><a href=""
                                                    th:text="${#dates.format(movie.releaseTime,'yyyy')}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>类别: </strong><a href="" th:each="c : ${movie.getCategories()}"
                                                    th:text="${c.name}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>上映日期: </strong><a
                                th:text="${#dates.format(movie.getReleaseTime(),'yyyy-MM-dd')}"></a></p>
                        <p class="movie__option">
                            <strong>导演: </strong><a href="" th:text="${movie.directors}"></a>
                        </p>
                        <p class="movie__option">
                            <strong>演员: </strong>
                            <a href="" th:text="${movie.actors}"></a>

                        <p><a class="comment-link" href="" th:text="|${count}个评论|">评论: 15</a></p>
                        </p>

                        <div class="movie__btns">
                            <a class="btn btn-md btn--warning" href="/movies">预订此电影</a>

                            <div th:unless="${session.user == null}">
                                <input hidden id="watchlist-userId" name="userId" th:value="${session.user.getId()}">
                                <a class="watchlist" th:onclick="|add(${movie.getId()})|">添加到播放列表</a>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <h2 class="page-heading">剧情</h2>

                <p class="movie__describe" th:text="${movie.getPlot()}"></p>
            </div>

            <h2 class="page-heading">场次</h2>
            <div class="choose-container">

                <div class="clearfix"></div>

                <div class="time-select">
                    <div class="time-select__group">
                        <div class="col-sm-4">
                            <p class="time-select__place">Curzon</p>
                        </div>
                        <ul class="col-sm-8 items-wrap">
                            <li class="time-select__item" data-time="09:00" th:each="scene:${sceneList}"
                                th:text="${scene.getShowtime()}">09:00
                            </li>
                        </ul>
                    </div>

                </div>

                <h2 class="page-heading">评论 <a th:text="${count}"></a></h2>

                <div class="comment-wrapper">
                    <form class="comment-form" id="comment-form" method="post">
                        <textarea class="comment-form__text" name="content" placeholder="发表您的评论吧"></textarea>
                        <input hidden id="form-movieId" name="movieId" th:value="${movie.getId()}" type="text">
                        <div th:unless="${session.user == null}">
                            <input hidden id="form-userId" name="userId" th:value="${session.user.getId()}" type="text">
                        </div>
                        <button class="btn btn-md btn--danger comment-form__btn" type="submit">
                            发表评论
                        </button>
                    </form>

                    <div class="comment-sets">
                        <!-- 评论 -->
                        <div class="comment" th:each="review:${reviewList}">
                            <a class="comment__author" href="#" th:text="${review.getNickname()}">Roberta Inetti</a>
                            <p class="comment__date" th:text="${review.getCreateTime()}">today | 03:04</p>
                            <p class="comment__message" th:text="${review.getContent()}">
                            </p>
                        </div>
                        <!-- 评论结束 -->

                    </div>
                </div>

            </div>
        </div>

    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MoviePage();
    });
</script>
</body>
</html>
