<!doctype html>
<html xmlns:news="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(资讯列表)}"></div>
<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="overflow-wrapper">
            <div class="col-sm-12">

                <h2 class="page-heading">资讯</h2>

                <!-- News post article-->
                <div th:each="news:${newsPage.list}">
                    <article class="post post--news">
                        <a class="post__image-link" href='/news'>
                            <img alt='' src="/images/19.jpg">
                        </a>

                        <h1><a class="post__title-link" href="single-page-full.html" th:text="${news.title}"></a>
                        </h1>
                        <p class="post__date" th:text="${#dates.format(news.createTime,'yyyy-MM-dd')}"></p>

                        <div class="wave-devider"></div>

                        <p class="post__text" th:text="${news.content}"></p>

                        <div class="devider-huge"></div>
                    </article>
                </div>

                <!-- end news post article-->

                <div class="pagination">
                    <a class="pagination__prev"
                       th:href="@{/newsList(page=${newsPage.pageNum}-1)}"
                       th:if="${newsPage.hasPreviousPage}">prev</a>
                    <a class="pagination__next"
                       th:href="@{/newsList(page=${newsPage.pageNum}+1)}"
                       th:if="${newsPage.hasNextPage}">next</a>
                </div>

            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

</body>
</html>
