<!doctype html>
<html xmlns:fb="http://www.w3.org/1999/xhtml" xmlns:g="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(新闻)}"></div>

<body>
<div class="wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <h2 class="page-heading">Single post</h2>

            <div class="post">
                <div class="post__preview">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--First Slide-->
                            <div class="swiper-slide"
                                 data-text='Mauris gravida ipsum vitae libero eget dignissim ipsum egestas.'>
                                <img alt='' height="600" src="/images/22.jpg" width="1600">
                            </div>

                    </div><!-- end swiper container -->

                    <a class="arrow-left no-hover" href="#"><span class="slider__info"></span></a>
                    <a class="arrow-right" href="#"><span class="slider__info"></span></a>

                </div>

                <h1>Donec eu mollis augue, ut egestas leo (h1)</h1>
                <p class="post__date">29 October 2013 </p>

                <div class="wave-devider"></div>

                    <p>首先这部剧的定位是轻喜剧，加上每个人喜好、视角不同，不存在100%满足每个人口味的事情。此剧不算十全十美，
                        但是演员演技在线原音出场，
                        不抠图不瞪眼不数字小姐，编剧剧情尊重智商不狗血不玛丽苏不脑残，每个角色至少塑造的立体饱满，笑点虽平常但却引人大笑
                        ，时不时还有几句金句和反转，在生活和工作已经如此艰辛的情况下能有这么一部让你开怀大笑的剧已经足够了。
                        如您所说的标准降低，也许是吧，天下观众苦渣剧久已。在如今几年流量占据、剧情演技双尬的国产剧下，
                        这样一部剧出现超出了路人的期望，路人愿意打高分也侧面说明了观众对更高质量的原创、演员演技的渴望。
                        所以四星是对此剧的奖励；一星是对未来其他剧的期望。


                    <p>本书是一本非常实用的日常食材实用手册。介绍了家庭常见39种食材的133种使用方法。

                        作者是日本知名的美食料理作家栗原晴美，她擅长利用日常食材，用简单快捷的方法制作美味料理。

                        她的食谱累计全球发行量突破3000万册。书中不但有食材的使用贴士，不同季节时令食材的搭配建议，更有作者的料理秘方独家奉上。
                        对于普通家庭和大众读者来说，本书是绝佳的餐桌食材参考。</p>

                <div class="col-sm-12 col-md-6">
                    <blockquote class="quote quote--intext">
                        If it were easy, <br> everyone would do it.
                        <small class="quote__author"><span class="quote__author-name">Loki, Thor: The Dark World</span>
                        </small>
                    </blockquote>
                </div>


                    <p>一本以爱与辜负为主题的读书随笔集。

                        分作两编，上编为“爱的骑士”，读温特森、契诃夫、杜拉斯、胡赛尼、春上村树、钱德勒、特里斯、菲茨杰拉德、歌德、兰波、北野武诸位作家的作品，也读他们爱的故事；下编为“爱的辜负”，
                        由林白一首诗始，关注爱的话题与话语，书有《伏羲伏羲》《卖油郎独占花魁》《沈从文的前半生》《取瑟而歌》等，故事则涉及《西游记》的黄袍怪、乌鸡国、女儿国等。

                        作者下笔自如，体贴爱中人又不失冷静，文字在日常气息与书面雅致间达到了微妙的平衡。全书以咏叹的方式，将借用克尔凯郭尔信仰骑士而来的“爱的骑士”诠释得入心难忘，让人相信，
                        就算人世间多是辜负，爱仍可以是一种信仰。 </p>

                <div class="post__images post__images--right col-sm-6 pull-right">
                    <img alt='' height="600" src="/images/23.jpg" width="500">
                </div>

                <p>In lobortis ac neque in eleifend. Maecenas magna justo, malesuada ac aliquet at, egestas et nibh.
                    Fusce rutrum ligula tortor, a eleifend nisi lobortis sit amet. Morbi vulputate mollis nibh, quis
                    malesuada enim eleifend egestas. Maecenas tincidunt dapibus lacus, id dapibus quam bibendum
                    venenatis.</p>

                    <p>贩卖焦虑的毒鸡汤、通往财富自由的币圈传奇、一夜暴富的微商……在当下的自媒体江湖，
                        无数公众号罔顾媒体道德，纷纷熬制毒鸡汤，吸取流量，换取巨额利润。自媒体乱象何时休？
                        知识大V、青年作家吴清缘以辛辣、幽默的笔触，塑造韩梅梅、李雷两个备受自媒体毒鸡汤青年男女。
                        他们被所谓的“人生导师”走入币圈，做起了微商，希冀自己走上成功之路，实现财务自由。
                        殊不知，他们正一步步地踏入了消费主义的陷阱…… </p>

                <p>Maecenas magna justo, malesuada ac aliquet at, egestas et nibh. Fusce rutrum ligula tortor, a
                    eleifend nisi lobortis sit amet. Morbi vulputate mollis nibh, quis malesuada enim eleifend egestas.
                    Maecenas tincidunt dapibus lacus, id dapibus quam bibendum venenatis.</p>

                <div class="post__images post__images--left col-sm-6 pull-left">
                    <img alt='' src="/images/21.jpg">
                </div>

                    <p></p>

                    <p>感冒刚好的病人，在等候厅里看到不同的患者，走进不同的病房甚至躺进ICU，
                        有一瞬间能感觉到他们的病症在自己身上产生的痛，犹如寒颤，但是他是始终不知道病房里面的样子的。
                        他若从前患过同样的病症，那这感同身受的痛就更真实了。 但说实话，作者对迸发的情欲和失去的寂寥的非常细腻的描写，
                        很容易让读者泛起情绪。 “通过小说我们得以接近小说家，得以认识某一种现象，得以体验一种人生，也得以审视潜在的自己。”
                        爱的要素过多，一千个作家就有一千种对爱的解释，当我望向瓦赫达提，望向石神等虚构的人物，
                        我便也有冲动，想做以为爱的骑士，而你就是我的骑士信仰。
                        当然，其实这本书，除了爱情，更多的是艺术与生活。这些本来就是交融的。 </p>

                    <p>昨天的箭伤的戏，太违反医疗常识了，即使是古代的医疗常识！
                        中箭后，只要稍有时间，第一时间应该折断箭杆，防止碰撞刮到箭杆造成更大损伤；
                        之后到了药铺，应该先切开皮肉剜除箭头，而不是暴力硬拔，会被箭头的倒钩带出大块肉增加伤势和出血量；
                        然后用酒等清创，再敷金疮药，然后包扎；最后才是抓药煎服（消炎、止痛、生肌、止血的药物，例如加当归补血之类），
                        而先煎药后处理外伤，首先浸泡药材都没时间，
                        中药要2次煎后合并药液，一个多小时就过去了，浪费救治时间。

                    <p>三星半。 有很多漂亮的地方，感到作者温柔似水。也有些篇幅部分逻辑不很通，略微重复，并且看到印刷错字与别字。
                        看见此刻标签框里有随笔二字，好吧，我总以文学评论眼光来看的。 感到附录的有关包法利访谈倒是很见功力。
                        另当年一起读包法利夫人大家一股脑喜欢艾玛我却只喜包法利，在这里看到知音。 “总有平常的人在不断地陷入绝望中。”
                        我们生活的世界够冷漠了，需要有人来写写爱，好吧，我把它改成四星。 此人作品可期待。</p>

                </div>

                <div class="clearfix"></div>
                <h2 class="page-heading">comments (3)</h2>

            <div class="comment-wrapper">

                <div class="comment-sets">

                    <div class="comment">
                        <div class="comment__images">
                            <img alt='' src="http://placehold.it/50x50">
                        </div>

                        <a class="comment__author" href='#'><span class="social-used fa fa-facebook"></span>Roberta
                            Inetti</a>
                        <p class="comment__date">today | 03:04</p>
                        <p class="comment__message">小说总是源于生活却又高于生活的嘛。
                            有人说什么电影什么该突出的没突出啥的，那是你认为它该突出，你咋不当导演去？
                            百分百满意的东西是不存在的，既然有人喜欢，就有人讨厌。
                            虽然我看的书，但我觉得这个出发点是好的，并不是每个人看个东西都要给个评价，总结个中心思想，
                            想办法批判一下导演和编剧。并不是每个人都有多么高的素养。
                            这是大众的东西，给大众看的，让观众明白到那个导演和编剧想要传达的那个点才是最重要的！反正我是明白了。</p>
                    </div>

                    <div class="comment">
                        <div class="comment__images">
                            <img alt='' src="http://placehold.it/50x50">
                        </div>

                        <a class="comment__author" href='#'><span class="social-used fa fa-vk"></span>Olia Gozha</a>
                        <p class="comment__date">22.10.2013 | 14:40</p>
                        <p class="comment__message">
                            世界文豪高尔基对书感情独深，爱书如命。有一次，他的房间失火了，他首先抱起的是书籍，其它的任何东西他都不考虑。
                            为了抢救书籍，他险些被烧死。他说：“书籍一面启示着我的智慧和心灵，一面帮助我在一片烂泥塘里站起来，
                            如果不是书籍的话，我就沉没在这片泥塘里，我就要被愚蠢和下流淹死。”你看，连高尔基都如此热爱读书，
                            读书对人的重要性可见一斑。那么，如何读书呢？有的人一年可以读300本，是不是觉得很不可思议？虽然令人羡慕，
                            但是不可忽视阅读效率。别着急，我接下来介绍的书——《实用性阅读指南》将会告诉你如何提高阅读效率。
                        </p>
                    </div>


                    <div class="comment comment--last">
                        <div class="comment__images">
                            <img alt='' src="http://placehold.it/50x50">
                        </div>

                        <a class="comment__author" href='#'><span class="social-used fa fa-facebook"></span>Sia Andrews</a>
                        <p class="comment__date"> 22.10.2013 | 12:31 </p>
                        <p class="comment__message"></p>
                    </div>

                    </div>


            </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">

    $(document).ready(function () {
        init_SinglePage();
    });
</script>

</body>
</html>