<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(评分)}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-heading">评分</h2>

                    <div class="rates-wrapper rates--full">
                        <table>
                            <colgroup class="col-width-lg"></colgroup>
                            <colgroup class="col-width"></colgroup>
                            <colgroup class="col-width-sm"></colgroup>
                            <colgroup class="col-width"></colgroup>

                            <div th:each="movieScore:${movieAndAvgScore.list}">
                                <tr class="rates rates--top">
                                    <td class="rates__obj">
                                        <a class="rates__obj-name" href="#" th:text="${movieScore.name}">1. Thor: The
                                            Dark World</a>
                                    </td>
                                    <td class="rates__vote" th:text="${movieScore.count}">233 546 评分</td>
                                    <td class="rates__result" th:text="${movieScore.score}">5.0</td>
                                    <td class="rates__stars">
                                        <div class="score"></div>
                                    </td>
                                </tr>
                            </div>

                        </table>
                    </div>

                    <div class="pagination paginatioon--full coloum-wrapper">
                        <a class="pagination__prev" th:href="@{/movies/rate(page=${movieAndAvgScore.pageNum}-1)}"
                           th:if="${movieAndAvgScore.hasPreviousPage}">prev</a>
                        <a class="pagination__next" th:href="@{/movies/rate(page=${movieAndAvgScore.pageNum}+1)}"
                           th:if="${movieAndAvgScore.hasPreviousPage}">next</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <!-- footer -->
    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Rates();
    });
</script>
</body>
</html>
