<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(评分)}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-heading">评分</h2>

                    <div class="rates-wrapper rates--full">
                        <table>
                            <colgroup class="col-width-lg"></colgroup>
                            <colgroup class="col-width"></colgroup>
                            <colgroup class="col-width-sm"></colgroup>
                            <colgroup class="col-width"></colgroup>

                            <tr class="rates rates--top"
                                th:class="${(rate.index+1 +((movieAndAvgScore.pageNum)-1)*movieAndAvgScore.size)<4 ? 'rates rates--top':'rates'}"
                                th:each="movieScore,rate:${movieAndAvgScore.list}">
                                <td class="rates__obj">
                                    <a class="rates__obj-name"
                                       th:href="'/movies/'+${movieScore.id}"
                                       th:text="${(rate.index+1 +((movieAndAvgScore.pageNum)-1)*movieAndAvgScore.size)
                                       +' .  '+movieScore.name}"></a>
                                </td>
                                <td class="rates__vote" th:text="${movieScore.count}">233 546 评分</td>
                                <td class="rates__result" th:text="${#strings.substring(movieScore.score,0,3)}">5.0</td>
                                <td class="rates__stars">

                                    <div class="score" th:id="|score${movieScore.id}|"></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="pagination paginatioon--full coloum-wrapper">
                        <a class="pagination__prev" th:href="@{/movies/rate(page=${movieAndAvgScore.pageNum}-1)}"
                           th:if="${movieAndAvgScore.hasPreviousPage}">prev</a>
                        <a class="pagination__next" th:href="@{/movies/rate(page=${movieAndAvgScore.pageNum}+1)}"
                           th:if="${movieAndAvgScore.hasNextPage}">next</a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <!-- footer -->
    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Rates();
    });
</script>
<script th:each="movieScore:${movieAndAvgScore.list}" type="text/javascript">
    "use strict";
    $(document).ready(function () {
        $('#score[[${movieScore.id}]]').raty({
            width: 130,
            score: [[${movieScore.score}]],
            path: '/images/rate/',
            starOff: 'star-off.svg',
            starOn: 'star-on.svg',
            readOnly: true
        })
    });
</script>
</body>
</html>
