<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragment/common-fragment :: head(电影票)}"></div>

<body>
<div class="wrapper place-wrapper">

    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="order-container">
            <div class="ticket" th:each="order:${orderList}">
                <div class="ticket-position">
                    <div class="ticket__inner">
                        <div class="ticket-secondary">
                            <span class="ticket__item">取票码： <strong
                                    class="ticket__number" th:text="${order.uuid}"></strong></span>
                            <span class="ticket__item ticket__date"
                                  th:text="${#dates.format(order.createTime,'yyyy-mm-dd')}">25/10/2013</span>
                            <span class="ticket__item ticket__time">17:45</span>
                            <span class="ticket__item">影城: <span class="ticket__cinema">铜锣湾</span></span>
                            <span class="ticket__item">厅: <span class="ticket__hall">万达某个小角落</span></span>
                            <span class="ticket__item ticket__price">价格:<strong
                                    class="ticket__cost" th:text="${order.totalPrice}">$60</strong></span>
                        </div>

                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">Film Name<br><strong
                                    class="ticket__movie" th:text="${order.movieName}">The Fifth Estate (2013)</strong></span>
                            <span class="ticket__item ticket__item--primery">座位号: <span class="ticket__place"
                                                                                        th:text="${order.seat}">11F, 12F, 13F</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>

<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>
</body>
</html>
