<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{/fragment/common-fragment :: head(播放列表)}"></div>

<body>
<div class="wrapper">
    <!-- Header section -->
    <div th:replace="~{/fragment/common-fragment :: header}"></div>

    <!-- Main content -->
    <section class="container">
        <div class="col-sm-12">

            <!-- Movie preview item -->
            <div class="movie movie--preview movie--full release" th:each="movie:${movieByUserIdList.list}">
                <div class="col-sm-3 col-md-2 col-lg-2">
                    <div class="movie__images">
                        <img alt="" th:src="${movie.poster}"/>
                    </div>
                    <!-- 评论数 -->
                    <div class="movie__feature">
                        <a class="movie__feature-item movie__feature--comment" href="" th:text="${movie.name}">123</a>
                    </div>
                </div>

                <div class="col-sm-9 col-md-10 col-lg-10 movie__about">
                    <a class="movie__title link--huge" th:href="'/movies/'+${movie.id}"
                       th:text="${movie.name}"></a>

                    <p class="movie__time" th:text="${movie.duration}"></p>

                    <p class="movie__option">
                        <strong>Country: </strong><a href="#" th:text="${movie.country}"></a>
                    </p>
                    <p class="movie__option">
                        <strong>Category: </strong><span th:each="c:${movie.categories}">
                            <a href="#" th:text="${c.name}"></a></span>
                    </p>
                    <p class="movie__option">
                        <strong>Release date: </strong> <a th:text="${movie.releaseTime}"></a>
                    </p>
                    <p class="movie__option">
                        <strong>Director: </strong><a href="#" th:text="${movie.directors}"></a>
                    </p>
                    <p class="movie__option">
                        <strong>Actors: </strong><a href="#" th:text="${movie.actors}"></a>
                    </p>
                    <div class="movie__btns">
                        <a class="btn btn-md btn--warning" href="/movies">预订此电影</a>

                        <div th:unless="${session.user == null}">
                            <input hidden id="watchlist-userId" name="userId" th:value="${session.user.id}">
                        </div>
                        <input hidden id="watchlistMovieId" name="movieId" th:value="${movie.id}">

                        <a class="watchlist watch-remove" th:onclick="|remove(${movie.id})|">从播放列表移除</a>

                    </div>

                    <div class="preview-footer">
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <!-- end movie preview item -->

            <div class="coloum-wrapper">
                <div class="pagination paginatioon--full">
                    <a class="pagination__prev" th:href="@{/watch(page=${movieByUserIdList.pageNum}-1)}"
                       th:if="${movieByUserIdList.hasPreviousPage}">prev</a>
                    <a class="pagination__next" th:href="@{/watch(page=${movieByUserIdList.pageNum}+1)}"
                       th:if="${movieByUserIdList.hasNextPage}">next</a>
                </div>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>

    <div th:insert="~{/fragment/common-fragment :: footer}"></div>
</div>

<!-- open/close -->
<div th:replace="~{/fragment/common-fragment :: pop}"></div>
<!-- JavaScript-->
<div th:replace="~{/fragment/common-fragment :: script}"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MovieList();
    });
</script>
</body>
</html>
