<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.mega.amovie.repository.OrderRepository">
    <update id="update" parameterType="order">
        update `order`
        <set>
            <if test="status!=null">status=#{status},</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="sceneId!=null">scene_id=#{sceneId},</if>
            <if test="ticketNum!=null">ticket_num=#{ticketNum},</if>
            <if test="totalPrice!=null">total_price=#{totalPrice},</if>
            <if test="seat!=null">seat=#{seat}</if>
        </set>
        where id=#{id}
    </update>
</mapper>