<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecjtu.mega.amovie.repository.WatchRepository">
    <resultMap id="findByUserId" type="Movie">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="duration" column="duration"/>
        <result property="directors" column="directors"/>
        <result property="actors" column="actors"/>
        <result property="releaseTime" column="release_time"/>
        <result property="plot" column="plot"/>
        <result property="poster" column="poster"/>
        <result property="country" column="country"/>
        <result property="status" column="status"/>
        <collection property="categories" column="id" ofType="Category" select="findMovieByUserId">
            <id property="id" column="catId"/>
            <result property="name" column="catName"/>
            <!--  <result property="movieId" column=""/>
              <result property="createTime" column=""/>-->
        </collection>
    </resultMap>
    <select id="findMovieByUserId">
        SELECT movie.*,watch.id wid,watch.user_id wuserid FROM movie LEFT JOIN watch ON watch.movie_id=movie.id WHERE watch.user_id=#{userId}
    </select>
</mapper>